body {
    background: url('maoteclando.jpg') no-repeat left center;
    background-size: 2050px auto;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-left: 0;
}

header {
    background-color: #38758a;
    color: rgb(198, 204, 210);
    text-align: center;
    padding: 30px 20px;
}

header img {
    max-height: 1200px;
    margin-bottom: 220px;
}

.container {
    max-width: 1000px;
    margin: 20PX auto;
    padding: 20px;
    background-color: #6da6b4;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(161, 141, 141, 0.1);
    flex-grow: 1;
}

#loginContainer {
    height: calc(100vh - 50px);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#login img {
    max-height: 1050px;
}

#formulario {
    max-width: 400px;
    margin: auto;
    background: #d8dee6;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-floating .form-select,
.form-floating .form-control {
    height: calc(3.5rem + 2px);
}

footer {
    background-color: #2c2c2c;
    color: rgb(8, 8, 8);
    text-align: center;
    padding: 10px;
    width: 100%;
    position: center;
    bottom: 0;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:hover {
    background-color: #004494;
    border-color: #004494;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #1e7e34;
    border-color: #1e7e34;
}

h2, h3, label {
    font-weight: bolder;
    color: #0c0c0c; /* Texto em negrito */
}

.esqueci-senha {
    color: #121111 !important;
    font-weight: bold;
}
