header {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
}

header img {
    max-height: 100px;
    margin-bottom: 10px;
    }

/* Ajustes para o formulário */
#avariaForm {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0.1px rgba(0,0,0,0.1);
}

#avariaForm .form-group {
    margin-bottom: 15px;
}

#avariaForm .form-control {
    border-radius: 5px;
}

#avariaForm .btn {
    margin-right: 10px;
}

/* Ajustes para o rodapé */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom:10;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    footer p {
        font-size: 14px;
    }
}

/* Estilos adicionais */
body {
    background-color: #e9ecef;
    font-family: Arial, sans-serif;
    padding-bottom: 60px; /* Espaço para o rodapé */
}

.container {
    margin-top: 30px;
}
